{% extends "layout.html" %}
{% block content %}
<h1 class="rpi-page-title">Connected</h1>
<p>You (<strong>{{ rcs_id }}@rpi.edu</strong>) have successfully connected your Discord account and have been added to the RCOS server.</p>
<form method="POST" action="/discord/reset" style="margin-top: 2rem;">
    <button class="rpi-button is-fullwidth">Switch Discord Accounts</button>
    <a href="https://discord.com/channels/{{ discord_server_id }}" class="rpi-button red is-fullwidth" style="margin-top: 1rem;">Open Discord</a>
</form>
{% endblock %}