{% extends "layout.html" %}
{% block content %}
<h1 class="rpi-page-title">Join Server</h1>
<p class="rpi-h2">You are logged in as <strong>{{ rcs_id }}@rpi.edu</strong> <a href="/cas/logout">(Logout)</a></p>
<form method="POST" style="margin-top: 2rem;">
    <div class="field">
        <label class="rpi-label" for="first-name">First Name</label>
        <input class="rpi-input" value="{{ user['name']['first'] }}" type="text" name="first_name" id="first-name"
            placeholder="Your given name or nickname" maxlength="20" required>
        <label class="rpi-label" for="last-name">Last Name</label>
        <input class="rpi-input" value="{{ user['name']['last'] }}" type="text" name="last_name" id="last-name"
            placeholder="Your family name" required>
    </div>

    <div class="field">
        <label class="rpi-label" for="grad-year">Graduation Year</label>
        <input class="rpi-input" value="{{ user['graduation_year'] }}" type="number" name="graduation_year"
            id="grad-year" value="2020" min="1900" max="2100" placeholder="What year will you graduate?" required>
    </div>

    <p>
        Make sure you agree with <a href="https://discord.com/privacy" target="_blank">Discord's Privacy Policy</a> and
        want
        to use your Discord account on a monitored, school server. You can always use a separate Discord account for
        academic
        use to hide game activity, Spotify, etc. if desired but it's certainly not necessary!
    </p>
    <button class="rpi-button is-fullwidth">Connect Discord Account</button>
</form>
{% endblock %}