{% extends "layout.html" %}
{% block content %}
<h1 class="rpi-page-title">Join Server</h1>
<p class="rpi-h2">You are logged in as <strong>{{ rcs_id }}@rpi.edu</strong> <a href="/cas/logout">Logout</a></p>
<form method="POST" style="margin-top: 2rem;">
    <div class="field">
        <label class="rpi-label" for="first-name">First Name</label>
        <input class="rpi-input" type="text" name="first_name" id="first-name" required>
        <label class="rpi-label" for="last-name">Last Name</label>
        <input class="rpi-input" type="text" name="last_name" id="last-name" required>
    </div>

    <div class="field">
        <label class="rpi-label" for="grad-year">Graduation Year</label>
        <input class="rpi-input" type="number" name="graduation_year" id="grad-year" value="2020" min="1900" max="2100" required>
    </div>

    <button class="rpi-button is-fullwidth">Join Discord Server</button>
</form>
{% endblock %}